body {
    overflow-x: auto; /* Allow x-axis scrollbar when content overflows */
    /* white-space: nowrap;  */
}

.container {
    padding-right: 500px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    margin: 24px;
    font-size: 20px;
    font-family: "Noto Sans",sans-serif;
}

#row-no-gutters{
    margin-right: 0;
    margin-left: 0;
}

.main-title {
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1.7em;
    font-family: sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
}

.main-title::after {
    content: "";
    display: block;
    width: 70px;
    padding-bottom: 8px;
    border-bottom: 0.18em solid #af3c43;
}

/* organization */
.organization-title {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    --supports-has: true;
    box-sizing: border-box;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 11.5px;
    margin-top: 38px;
    font-family: Lato,sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    font-size: 1.6em;
    display: block;
}

.organization-text{
    display: flex;
    align-items: center;
}

#organization-text-description{
    max-width: 50%;
    white-space: wrap; 
}

.organization-text img {
    max-width: 10%;
    max-height: 150px;
    margin-right: 10px;
}

.organization-text span {
    font-weight: 700;
}

/*  Line divider */
hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #eee;
}

#viz{
    box-sizing: border-box;
    display: block;
    width: 100%; 
}



/* Selectors for charts */
.h4 {
    margin: 6px 0 6px 0;
    font-size: 1rem;
  }

.col-xs-3 {
    display: inline-block;
    width: 40%;
    padding: 0;
    vertical-align: top;
    position: relative; 
}

.col-xs-3 span {
    font-weight: 700;
}

#choice_div {
    flex-direction: column;
    padding: 0;
    float: left;
    top: 15px;
}

/* Charts */
.col-xs-9 {
    display: inline-block;
    width: 55%;
    margin-left:50px;
    padding: 0;
    vertical-align: top;
    overflow-x: auto;  
}

.col-xs-9 span {
    font-weight: 700;
}

.d3-container {
    display: flex;
  }

