body {
    overflow-x: auto; /* Allow x-axis scrollbar when content overflows */
    white-space: nowrap; 
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "Noto Sans",sans-serif;
}

#row-no-gutters{
    margin-right: 0;
    margin-left: 0;
}

.main-title {
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1.7em;
    font-family: sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
}

.main-title::after {
    content: "";
    display: block;
    width: 70px;
    padding-bottom: 8px;
    border-bottom: 0.18em solid #af3c43;
}

hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #eee;
}

#viz{
    box-sizing: border-box;
    display: block;
    width: 100%; 
}



/* Selectors for charts */
.h4 {
    margin: 6px 0 6px 0;
    font-size: 1rem;
  }

.col-xs-3 {
    display: inline-block;
    width: 600px;
    padding: 0;
    vertical-align: top;
    position: relative;
    height: 500px;    
}

#choice_div {
    flex-direction: column;
    padding: 0;
    float: left;
    top: 15px;
}

/* Charts */
.col-xs-9 {
    display: inline-block;
    width: calc(100% - 500px);
    padding: 0;
    vertical-align: top;
    overflow-x: auto;  
}

#chart {
    padding: 0;
    float: left;
}
