<!DOCTYPE html>
<head>
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v6.js"></script>

  <!-- Formatting -->
  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  <img src="{{url_for('static', filename='banner.PNG')}}" style="padding-left: 120px; height: 150px;">
  <main class="container">
    <div class="row-no-gutters">
      <main class="main-title">
        Advertisements to the Public Service
      </main>
      <!-- Introduction -->
      <p>
        Management of human resources ensures an effective Canada's public service. 
        For applicants seeking opportunities within the public sector, understanding which departments are actively hiring specific profiles can increase the number of qualified applicants. This knowledge empowers applicants to tailor their applications to align with the needs of hiring departments, increasing their chances of securing meaningful employment. 
        This data visualization tool therefore provides valuable insights for applicants and employers.
      </p>

      <!-- Instructions -->
      <h2> Instructions</h2>
      <ul>
        <li>Select a department or an agency from the dropdown menu below.</li>
        <li>Select a time period.</li>
      </ul>

      <!-- organization -->
      <h2 id="organization-title">Advertisements - Public Service Total</h2>
        <div class="organization-text">
          <img src="{{url_for('static', filename='alert-info.PNG')}}">
          <p id="organization-text-description">
            In the Public Service, <span id="organization-count">[insert]</span> organizations posted job advertisements in the
            <span id="fiscal-year">[insert]</span> fiscal year. In total there were <span id="advertisement-count">[insert]</span> job postings,
            where the median number of job postings per organization was <span id="organization-count-median">[insert]</span> 
            and a max of <span id="organization-count-max">[insert]</span> job posted by the <span id="organization-of-count-max">[insert]</span>.
            
          </p>
        </div>

      <!-- Visualization -->
      <hr>
      <div id="viz">
        <label for="organization-select" class="h4">Select a department or an agency:</label>
          <select id="organization-select"></select>
        <label for="fiscal-year-select" class="h4">Time period:</label>
          <select id="fiscal-year-select"></select>
        <hr>

        <div class="col-xs-3">
          <h3>Job Advertisements by Group and Level</h3>
          <p style="height: 100px">The group and level of the position as classified by the GC. The letters indicate the group the position belongs to and the number represents the level within the group.</p>
          <div id="d3-treemap"></div>
        </div>
        <div class="col-xs-9">
          <h3>Advertisement Trends</h3>
          <p style="height: 100px">
          The <span id="org-name">[insert]</span> advertised <span id="org-advertisement-count">[insert]</span> job postings in this fiscal year.
          This department/agency advertised the most in the month of <span id="advertisement-max-month">[insert]</span> and primarily sought applicants for an <span id="advertisement-tenure-max">[insert]</span> Tenure.
          </p>
          <br><br>
          <div class="d3-container">
            <div id="d3-bar-graph-advert-by-month"></div>   
            <div id="d3-bar-graph-tenure"></div>   
        </div>
      </div>
    </div>
  </main>



  <script>
      var json_text = '{{chartData|tojson}}';
      window.chartData = JSON.parse(json_text);
  </script>
  <!-- <script src="{{url_for('static', filename='utils.js')}}" type="module" ></script> -->
  <script defer src="{{url_for('static', filename='metrics.js')}}" type="module"></script>
  <script defer src="{{url_for('static', filename='treemap-graph.js')}}" type="text/javascript"></script>
  <script defer src="{{url_for('static', filename='bar-graph.js')}}" type="text/javascript"></script>

</body>